In [1]:
import pandas as pd
import os
import sys
sys.path.append(r'/home/iwmi-wa/Amman_zarqa_run/Scripts/')
from WAsheets_jordan import print_sheet as ps

# Directory containing your CSV files
directory = '/home/iwmi-wa/Amman_zarqa_run/hydroloop_results/csv/sheet1/yearly_new/'

save_path = os.path.abspath(os.path.join(directory,'..','average_sheet1'))

os.makedirs(save_path) if not os.path.exists(save_path) else None

# Step 1: Read all the CSV files in the directory and extract 'VALUE' column
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]
dataframes = []

for csv_file in csv_files:
    file_path = os.path.join(directory, csv_file)
    df = pd.read_csv(file_path, delimiter=';')
    dataframes.append(df['VALUE'])

# Step 2: Calculate the average of 'VALUE' column
average_values = sum(dataframes) / len(dataframes)

# Step 3: Choose one CSV file to replace 'VALUE' column with averaged values
# For example, we'll use the first CSV file
first_csv_file = os.path.join(directory, csv_files[0])
first_df = pd.read_csv(first_csv_file, delimiter=';')
first_df['VALUE'] = average_values

# Step 4: Save the modified CSV as a semicolon-delimited file
file_name = 'sheet1.csv'
average_file = os.path.join(save_path, file_name) 
first_df.to_csv(average_file, sep=';', index=False)

In [2]:
period= '2018-2021'

str_unit='m3/year'

basin = 'Amman_zarqa'

output=average_file.replace('.csv','.pdf')
ps.print_sheet1(basin,period=period,
                output=output,units=str_unit,data=average_file)

TypeError: cannot convert the series to <class 'float'>